/data/Data\ Dictionary.xlsx
/data/SAMPLE_SUBMISSION.xlsx
/data/widsdatathon2025.zip
/data/TEST
/data/TRAIN
/data/TRAIN_OLD
/data/TRAIN_NEW
**/__pycache__
**/.DS_Store
**/mlruns/*
!**/mlruns/.gitkeep
/plots/*.png
